<p> First Name: <%= @patron.firstname %> </p>
<p> Last Name:<%= @patron.lastname %> </p>
<p> Email: <%= @patron.email %> </p>
<p> Address:<%= @patron.address %> </p>
<p> Number of Roasts: <%= @patron.loaves %> </p>
